{
  "presets": ["es2017", "react", "node8"],
  "plugins": [
    "transform-react-jsx",
    "syntax-class-properties",
    "transform-class-properties",
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "syntax-object-rest-spread"
  ]
}
